# Created by .ignore support plugin (hsz.mobi)
.idea/
.svn/
pubspec.lock
.packages
.flutter-plugins
android/local.properties
android/.gradle/
android/gradlew
android/gradlew.bat
build/
android/src/main/kotlin/com/
example/android/app/src/main/kotlin/com/
example/pubspec.lock
